# Tratamiento previo de datos

En este Notebook voy a trabajar con los datos que he ido recopilando e uniendo de las siguientes fuentes:

* Paper: "El Coste de la Vida en las Comunidades Autónomas, Áreas Urbanas y Ciudades de España" , de este paper científico obtuve la finrmación sobre el coste de vida por comunidad autónoma. 

* Idealista: De donde he obtenido, variación del precio de alquiler por provincia desde los últimos 10 años

* INE: He obtenido, salario medio a jornada completa por comunidad autónoma, precio  medio de venta escriturada para nueva obra y segunda mano del 2016, numero de transacciones escrituradas en 2021, valor total de transaciones, con lo que espero poder obtener un precio medio mas actualizado por prvincia que el que dispongo del 2016

#### Importación de librerias

Primer paso será importar librerias, como nota ahsta el momento llevo mas de 10 recopilando y dando formato a los datos,  casi 19h si sumamos el proyecto descartado por falta de datos viables.

In [1]:
import pandas as pd
import numpy as np

#### Lectura de CVS

Procedo a crear DataFrames de pandas para empezar a trabajar con la información

#### En este primer CSV tenemos:

* El precio alquiler €/m2 por provincia -- Idealista
* La media de salario  por comunidad autonoma -- INE
* La mediana de salario  por comunidad autonoma -- INE
* Tasa de paro por comunidad autonoma -- SEPE
* Coste de vida por comunidad autonoma -- PAPER
* Precios de escrituracion medio  2016 obra nueva -- INE
* Precios de escrituracion medio  2016 segunda mano -- INE

In [2]:
df = pd.read_csv("../data/Alquiler Salario Medio Paro CosteV - CCAA.csv", index_col = 0)
df

,Madrid,Murcia,Asturias,Rioja,Cantabria,Navarra,Baleares,Almeria,Cadiz,Cordoba,...,Valencia,Alava,Guipuzkoa,Bizkaia,Badajoz,Caceres,Coruña,Lugo,Ourense,Pontevedra
junio 2021,13.7,6.8,7.5,6.9,8.3,8.9,11.7,6.5,8.1,7.1,...,8.2,9.7,13.6,11.8,5.6,5.2,6.9,5.3,5.8,9.1
mayo 2021,13.7,6.7,7.5,6.9,8.1,8.9,11.6,6.4,7.9,7.1,...,8.1,9.7,13.6,11.9,5.5,5.2,6.9,5.3,5.8,8.9
abril 2021,13.7,6.6,7.5,6.8,8.1,8.9,11.4,6.3,7.8,7.0,...,8.1,9.7,13.8,11.9,5.4,5.2,7.0,5.3,5.8,8.8
marzo 2021,13.8,6.5,7.5,6.7,8.0,8.9,11.3,6.3,7.8,7.0,...,8.1,9.5,13.7,11.8,5.5,5.2,6.9,5.3,5.9,8.4
febrero 2021,13.9,6.5,7.5,6.8,8.0,8.8,11.3,6.3,7.7,6.9,...,8.1,9.6,13.7,11.8,5.5,5.2,6.8,5.2,5.8,8.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Precio medio Obra Nueva INE 2016,79097.0,82108.0,79552.0,64394.0,76523.0,60907.0,90210.0,94078.0,94078.0,94078.0,...,82496.0,75937.0,75937.0,75937.0,87194.0,87194.0,84340.0,84340.0,84340.0,84340.0
Precio Medio 2 mano INE 2016,64674.0,6684.0,63398.0,56758.0,61731.0,49198.0,70996.0,69007.0,69007.0,69007.0,...,65742.0,55806.0,55806.0,55806.0,68035.0,68035.0,66164.0,66164.0,66164.0,66164.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.dropna(axis = 0, inplace = True)

#### En el segundo CSV tenemos:

* Numero total de transacciones en 2021 escrituradas, en adelante  NT -- INE
* Valor total de esas transacciones, unidad de medida miles, en adelante TV -- INE
* Generare con esas columnas el valor medio de venta por provincia, en adelante VM.

In [4]:
valor21 = pd.read_csv("../data/Num y Valor total Transaciones.csv",index_col = 0)

print( " Este sería el valor medio de Almeria >>" , int((valor21.loc['Almeria']['Valor total Transaciones']/2863) * 1000))
valor21.head()

 Este sería el valor medio de Almeria >> 94208

         Valor total Transaciones  Numero Transaciones
Almeria                  269720.3                 2863
Cadiz                    472353.4                 3619
Cordoba                  214228.8                 2059
Granada                  326818.0                 3017
Huelva                   179776.3                 1754

In [5]:
valor21.rename(columns = {'Valor total Transaciones': 'VT', 'Numero Transaciones' : 'NT'}, inplace = True)

#### Generar la columna que necesito

* VT dividido NT * 1000 nos da el valor medio por provincia

In [6]:
valor21['VM'] = (valor21['VT'] / valor21['NT']) * 1000
valor21['VM'] = valor21['VM'].round(2)
valor21.head()

               VT    NT         VM
Almeria  269720.3  2863   94208.98
Cadiz    472353.4  3619  130520.42
Cordoba  214228.8  2059  104045.07
Granada  326818.0  3017  108325.49
Huelva   179776.3  1754  102495.04

#### Quiero fusionar las tablas

El objetivo es quedarme con VM en la tabla principal

In [7]:
df = df.T

In [8]:
df = df.rename_axis('provincias').reset_index()
valor21 = valor21.rename_axis('provincias').reset_index()

In [9]:
valor21.head()

  provincias        VT    NT         VM
0    Almeria  269720.3  2863   94208.98
1      Cadiz  472353.4  3619  130520.42
2    Cordoba  214228.8  2059  104045.07
3    Granada  326818.0  3017  108325.49
4     Huelva  179776.3  1754  102495.04

In [10]:
df.loc[0]['provincias'] = valor21.loc[43]['provincias']

<ipython-input-10-4259987c8dba>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[0]['provincias'] = valor21.loc[43]['provincias']

In [11]:
data = pd.merge(df, valor21, on = 'provincias')
data.head()

,provincias,junio 2021,mayo 2021,abril 2021,marzo 2021,febrero 2021,enero 2021,diciembre 2020,noviembre 2020,octubre 2020,...,agosto 2011,Salario media,Precio compra m2,Tasa Paro,Coste de vida,Precio medio Obra Nueva INE 2016,Precio Medio 2 mano INE 2016,VT,NT,VM
0,Madrid,13.7,13.7,13.7,13.8,13.9,14.0,14.2,14.5,14.7,...,11.0,2408.23,2945.0,13.5,115.7,79097.0,64674.0,5052244.0,19733,256030.20
1,Murcia,6.8,6.7,6.6,6.5,6.5,6.4,6.4,6.4,6.6,...,5.6,1995.72,1056.0,15.4,87.8,82108.0,6684.0,478356.2,4933,96970.65
2,Asturias,7.5,7.5,7.5,7.5,7.5,7.4,7.4,7.4,7.4,...,7.1,2341.76,1361.0,13.5,98.1,79552.0,63398.0,298095.0,2868,103938.28
3,Rioja,6.9,6.9,6.8,6.7,6.8,6.8,6.6,6.7,6.8,...,5.7,1987.39,1235.0,10.4,94.5,64394.0,56758.0,102218.7,1045,97816.94
4,Cantabria,8.3,8.1,8.1,8.0,8.0,7.9,7.9,7.8,7.9,...,7.0,2182.91,1454.0,11.8,98.6,76523.0,61731.0,244690.6,1781,137389.44

In [12]:
del(data['VT'], data['NT'])

In [13]:
data.set_index('provincias', inplace = True)
data.head()

,junio 2021,mayo 2021,abril 2021,marzo 2021,febrero 2021,enero 2021,diciembre 2020,noviembre 2020,octubre 2020,septiembre 2020,...,octubre 2011,septiembre 2011,agosto 2011,Salario media,Precio compra m2,Tasa Paro,Coste de vida,Precio medio Obra Nueva INE 2016,Precio Medio 2 mano INE 2016,VM
provincias,,,,,,,,,,,,,,,,,,,,,
Madrid,13.7,13.7,13.7,13.8,13.9,14.0,14.2,14.5,14.7,14.9,...,11.1,11.0,11.0,2408.23,2945.0,13.5,115.7,79097.0,64674.0,256030.20
Murcia,6.8,6.7,6.6,6.5,6.5,6.4,6.4,6.4,6.6,6.7,...,5.6,5.5,5.6,1995.72,1056.0,15.4,87.8,82108.0,6684.0,96970.65
Asturias,7.5,7.5,7.5,7.5,7.5,7.4,7.4,7.4,7.4,7.4,...,6.8,6.9,7.1,2341.76,1361.0,13.5,98.1,79552.0,63398.0,103938.28
Rioja,6.9,6.9,6.8,6.7,6.8,6.8,6.6,6.7,6.8,6.7,...,5.7,5.8,5.7,1987.39,1235.0,10.4,94.5,64394.0,56758.0,97816.94
Cantabria,8.3,8.1,8.1,8.0,8.0,7.9,7.9,7.8,7.9,8.0,...,7.0,7.0,7.0,2182.91,1454.0,11.8,98.6,76523.0,61731.0,137389.44

In [14]:
data

,junio 2021,mayo 2021,abril 2021,marzo 2021,febrero 2021,enero 2021,diciembre 2020,noviembre 2020,octubre 2020,septiembre 2020,...,octubre 2011,septiembre 2011,agosto 2011,Salario media,Precio compra m2,Tasa Paro,Coste de vida,Precio medio Obra Nueva INE 2016,Precio Medio 2 mano INE 2016,VM
provincias,,,,,,,,,,,,,,,,,,,,,
Madrid,13.7,13.7,13.7,13.8,13.9,14.0,14.2,14.5,14.7,14.9,...,11.1,11.0,11.0,2408.23,2945.0,13.5,115.7,79097.0,64674.0,256030.20
Murcia,6.8,6.7,6.6,6.5,6.5,6.4,6.4,6.4,6.6,6.7,...,5.6,5.5,5.6,1995.72,1056.0,15.4,87.8,82108.0,6684.0,96970.65
Asturias,7.5,7.5,7.5,7.5,7.5,7.4,7.4,7.4,7.4,7.4,...,6.8,6.9,7.1,2341.76,1361.0,13.5,98.1,79552.0,63398.0,103938.28
Rioja,6.9,6.9,6.8,6.7,6.8,6.8,6.6,6.7,6.8,6.7,...,5.7,5.8,5.7,1987.39,1235.0,10.4,94.5,64394.0,56758.0,97816.94
Cantabria,8.3,8.1,8.1,8.0,8.0,7.9,7.9,7.8,7.9,8.0,...,7.0,7.0,7.0,2182.91,1454.0,11.8,98.6,76523.0,61731.0,137389.44
Navarra,8.9,8.9,8.9,8.9,8.8,8.8,8.7,8.6,8.6,8.7,...,7.3,7.4,7.3,2471.92,1462.0,11.7,97.9,60907.0,49198.0,153776.84
Baleares,11.7,11.6,11.4,11.3,11.3,11.4,11.7,11.9,12.0,12.3,...,8.3,8.4,8.5,2124.98,3169.0,17.3,102.8,90210.0,70996.0,324252.94
Almeria,6.5,6.4,6.3,6.3,6.3,6.2,6.2,6.2,6.1,6.1,...,5.3,5.3,5.3,1980.00,1063.0,21.2,94.5,94078.0,69007.0,94208.98
Cadiz,8.1,7.9,7.8,7.8,7.7,7.7,7.7,7.7,7.7,7.8,...,6.8,7.0,6.9,1980.00,1548.0,24.9,94.5,94078.0,69007.0,130520.42
Cordoba,7.1,7.1,7.0,7.0,6.9,6.9,6.8,6.8,6.8,6.8,...,6.4,6.5,6.5,1980.00,1232.0,23.8,94.5,94078.0,69007.0,104045.07
Granada,7.8,7.8,7.8,7.9,8.0,8.0,7.9,7.9,7.8,7.7,...,5.9,5.9,5.9,1980.00,1349.0,24.8,94.5,94078.0,69007.0,108325.49
Huelva,7.7,7.2,7.0,6.7,6.7,6.6,6.5,6.6,6.6,6.9,...,6.7,7.1,7.2,1980.00,1235.0,27.2,94.5,94078.0,69007.0,102495.04
Jaen,5.0,4.9,4.9,4.9,4.8,4.8,4.8,4.8,4.9,4.8,...,4.7,4.8,4.8,1980.00,847.0,22.8,94.5,94078.0,69007.0,77577.26
Malaga,9.5,9.4,9.4,9.4,9.4,9.4,9.5,9.6,9.6,9.7,...,6.9,6.9,7.0,1980.00,2374.0,19.3,94.5,94078.0,69007.0,234004.81
Sevilla,9.2,9.1,9.3,9.3,9.2,9.2,9.4,9.4,9.3,9.3,...,7.7,7.7,7.8,1980.00,1410.0,22.4,94.5,94078.0,69007.0,124715.46
Huesca,8.0,8.0,8.1,8.0,7.9,7.9,8.0,7.6,7.6,7.6,...,6.5,6.4,6.4,2162.35,1379.0,12.5,98.1,65895.0,51535.0,103800.31
Teruel,5.4,5.5,5.4,5.5,5.2,5.2,5.3,5.2,5.4,5.3,...,5.0,5.1,5.2,2162.35,901.0,9.3,98.1,65895.0,51535.0,80887.57
Zaragoza,8.1,8.1,8.1,8.0,8.0,8.1,8.1,8.0,8.0,8.0,...,7.3,7.3,7.3,2162.35,1348.0,12.9,98.1,65895.0,51535.0,136034.05
Las Palmas,10.5,10.4,10.4,10.4,10.4,10.5,10.5,10.6,10.6,10.4,...,7.2,7.1,7.2,1907.78,1934.0,25.9,96.6,86218.0,69177.0,157148.88
Tenerife,9.2,9.1,9.1,9.1,9.1,9.1,9.1,9.2,9.2,9.2,...,6.7,6.6,6.7,1907.78,1854.0,24.5,96.6,86218.0,69177.0,152445.61
Avila,5.4,5.4,5.3,5.3,5.2,5.2,5.2,5.2,5.3,5.3,...,4.5,4.6,4.7,2142.40,862.0,16.1,94.8,74834.0,59002.0,78331.01
Burgos,7.1,7.1,6.9,7.1,7.1,6.9,6.9,6.9,7.0,6.9,...,6.3,6.5,6.4,2142.40,1185.0,9.4,94.8,74834.0,59002.0,105860.38
Leon,6.0,6.0,6.0,5.9,5.9,5.9,5.9,5.9,5.8,5.9,...,5.4,5.3,5.3,2142.40,996.0,12.1,94.8,74834.0,59002.0,87405.23
Palencia,6.0,6.1,6.1,6.0,6.0,5.9,6.0,6.0,6.0,5.9,...,5.3,5.5,5.5,2142.40,1116.0,9.6,94.8,74834.0,59002.0,83804.71
Salamanca,7.7,7.6,7.7,7.8,7.8,7.7,7.6,7.7,7.7,7.7,...,6.0,6.2,6.2,2142.40,1320.0,15.8,94.8,74834.0,59002.0,103945.16
Segovia,7.4,7.3,7.3,7.2,7.0,6.9,6.8,6.8,6.9,6.9,...,5.4,5.5,5.5,2142.40,1082.0,8.2,94.8,74834.0,59002.0,108900.00
Soria,6.0,6.0,6.1,6.0,6.0,5.9,5.6,5.8,5.8,5.9,...,5.6,5.6,5.7,2142.40,994.0,7.7,94.8,74834.0,59002.0,85581.52
Valladolid,6.9,6.8,6.8,6.9,6.8,6.8,6.9,6.9,6.9,6.8,...,5.8,5.7,5.7,2142.40,1280.0,11.4,94.8,74834.0,59002.0,114360.97
Zamora,5.2,5.0,5.0,5.0,5.0,5.0,4.9,4.8,4.9,5.1,...,5.1,5.1,5.1,2142.40,968.0,11.5,94.8,74834.0,59002.0,72292.99
Albacete,6.1,6.0,5.9,5.9,5.9,6.1,5.9,5.9,5.9,5.9,...,5.6,5.7,5.7,2089.00,1102.0,17.4,89.8,74054.0,61805.0,96757.63
Ciudad Real,5.2,5.2,5.2,5.2,5.1,5.1,5.1,5.0,5.1,5.0,...,5.2,5.1,5.2,2089.00,768.0,17.5,89.8,74054.0,61805.0,69954.96
Cuenca,5.3,5.1,4.9,4.7,4.5,4.7,4.6,4.7,4.8,4.8,...,4.7,4.7,4.6,2089.00,798.0,12.7,89.8,74054.0,61805.0,73037.42
Guadalajara,6.7,6.7,6.8,6.8,6.8,6.6,6.4,6.3,6.4,6.5,...,5.7,5.6,5.6,2089.00,1048.0,14.0,89.8,74054.0,61805.0,113516.57
Toledo,6.1,6.0,6.0,6.0,6.0,5.9,5.9,5.9,6.0,5.9,...,4.9,5.0,5.0,2089.00,793.0,19.9,89.8,74054.0,61805.0,84050.72
Barcelona,13.9,13.8,13.8,13.9,13.9,14.0,14.2,14.5,15.0,15.3,...,10.4,10.3,10.3,2379.25,2739.0,13.7,107.6,73964.0,59505.0,223763.42
Girona,9.5,9.5,9.4,9.3,9.3,9.2,9.2,9.2,9.3,9.5,...,7.2,7.3,7.6,2379.25,2071.0,13.3,107.6,73964.0,59505.0,185944.42
Lleida,7.8,7.6,7.9,7.7,7.8,7.8,8.6,8.3,8.0,7.8,...,6.0,6.1,6.2,2379.25,1246.0,11.0,107.6,73964.0,59505.0,105663.47
Tarragona,7.7,7.7,7.7,7.7,7.7,7.5,7.5,7.5,7.5,7.4,...,6.6,6.5,6.6,2379.25,1379.0,17.5,107.6,73964.0,59505.0,124211.40
Alicante,7.1,7.1,7.1,7.1,7.2,7.2,7.2,7.2,7.2,7.2,...,5.6,5.6,5.7,2085.52,1680.0,14.7,91.3,82496.0,65742.0,136183.70
Castellon,6.3,6.2,6.1,6.1,6.1,6.1,6.1,6.1,6.1,6.1,...,5.4,5.4,5.4,2085.52,1100.0,14.1,91.3,82496.0,65742.0,87229.74
Valencia,8.2,8.1,8.1,8.1,8.1,8.2,8.3,8.3,8.3,8.3,...,5.8,5.8,5.8,2085.52,1269.0,14.7,91.3,82496.0,65742.0,113254.07
Alava,9.7,9.7,9.7,9.5,9.6,9.7,9.7,9.4,9.4,9.5,...,8.6,8.5,8.8,2626.86,2158.0,10.0,107.1,75937.0,55806.0,172908.91
Guipuzkoa,13.6,13.6,13.8,13.7,13.7,14.1,14.0,14.0,14.0,13.9,...,11.1,10.9,10.8,2626.86,3181.0,7.0,107.1,75937.0,55806.0,242058.70
Bizkaia,11.8,11.9,11.9,11.8,11.8,11.9,11.9,11.9,11.9,11.8,...,11.5,11.5,11.4,2626.86,2619.0,11.9,107.1,75937.0,55806.0,204594.03
Badajoz,5.6,5.5,5.4,5.5,5.5,5.4,5.4,5.5,5.4,5.5,...,4.9,5.0,5.1,1928.51,938.0,22.9,86.4,87194.0,68035.0,69149.41
Caceres,5.2,5.2,5.2,5.2,5.2,5.2,5.2,5.1,5.0,5.0,...,4.7,4.7,4.6,1928.51,927.0,18.5,86.4,87194.0,68035.0,149642.33
Coruña,6.9,6.9,7.0,6.9,6.8,6.8,6.8,6.8,6.8,6.8,...,5.8,5.8,5.9,2097.56,1313.0,11.6,93.8,84340.0,66164.0,123878.25
Lugo,5.3,5.3,5.3,5.3,5.2,5.3,5.1,5.2,5.3,5.4,...,5.0,5.2,5.2,2097.56,993.0,8.3,93.8,84340.0,66164.0,97800.25
Ourense,5.8,5.8,5.8,5.9,5.8,5.9,5.9,6.0,6.0,6.0,...,4.9,4.8,4.9,2097.56,1166.0,10.3,93.8,84340.0,66164.0,94783.23
Pontevedra,9.1,8.9,8.8,8.4,8.2,8.2,8.0,7.9,8.0,8.3,...,7.0,7.0,7.1,2097.56,1547.0,13.3,93.8,84340.0,66164.0,133740.65

#### Revisando tipo de dato

* Antes de guardar los df, revisemos que los datos son int o float
* De no ser así los modificaremos apra trabjar mejor en las visualizaciones

In [15]:
print(type(data['Precio medio Obra Nueva INE 2016']['Cantabria']))

<class 'numpy.float64'>

In [16]:
variacion_precio_m2_alquiler = data.iloc[:, :119]
variacion_precio_m2_alquiler.head()

,junio 2021,mayo 2021,abril 2021,marzo 2021,febrero 2021,enero 2021,diciembre 2020,noviembre 2020,octubre 2020,septiembre 2020,...,mayo 2012,abril 2012,marzo 2012,febrero 2012,enero 2012,diciembre 2011,noviembre 2011,octubre 2011,septiembre 2011,agosto 2011
provincias,,,,,,,,,,,,,,,,,,,,,
Madrid,13.7,13.7,13.7,13.8,13.9,14.0,14.2,14.5,14.7,14.9,...,10.6,10.6,10.7,10.7,10.7,10.8,10.9,11.1,11.0,11.0
Murcia,6.8,6.7,6.6,6.5,6.5,6.4,6.4,6.4,6.6,6.7,...,5.6,5.7,5.7,5.5,5.6,5.6,5.7,5.6,5.5,5.6
Asturias,7.5,7.5,7.5,7.5,7.5,7.4,7.4,7.4,7.4,7.4,...,6.8,6.7,6.7,6.7,6.8,6.8,6.8,6.8,6.9,7.1
Rioja,6.9,6.9,6.8,6.7,6.8,6.8,6.6,6.7,6.8,6.7,...,6.0,6.1,6.0,5.9,5.8,5.9,5.8,5.7,5.8,5.7
Cantabria,8.3,8.1,8.1,8.0,8.0,7.9,7.9,7.8,7.9,8.0,...,6.8,6.8,6.9,7.0,7.0,7.0,7.0,7.0,7.0,7.0

In [17]:
datareducida = data.iloc[:, 119:]
datareducida['Precio m2 Alquiler'] = data['junio 2021']

In [18]:
datareducida.head()

,Salario media,Precio compra m2,Tasa Paro,Coste de vida,Precio medio Obra Nueva INE 2016,Precio Medio 2 mano INE 2016,VM,Precio m2 Alquiler
provincias,,,,,,,,
Madrid,2408.23,2945.0,13.5,115.7,79097.0,64674.0,256030.20,13.7
Murcia,1995.72,1056.0,15.4,87.8,82108.0,6684.0,96970.65,6.8
Asturias,2341.76,1361.0,13.5,98.1,79552.0,63398.0,103938.28,7.5
Rioja,1987.39,1235.0,10.4,94.5,64394.0,56758.0,97816.94,6.9
Cantabria,2182.91,1454.0,11.8,98.6,76523.0,61731.0,137389.44,8.3

In [19]:
comunidades = pd.read_csv("../data/Salario y coste comunidades.csv", index_col = 0)
comunidades

,Madrid,Murcia,Asturias,Rioja,Cantabria,Navarra,Baleares,Andalucia,Aragon,Canarias,Castilla Leon,Castilla La Mancha,Cataluña,Comunidad Valenciana,Pais Vasco,Extremadura,Galicia
Salario Medio,2408.23,1995.72,2341.76,1987.39,2182.91,2471.92,2124.98,1980.0,2162.35,1907.78,2104.4,2089.0,2379.25,2085.52,2626.86,1928.51,2097.56
Coste de vida,115.70,87.80,98.10,94.50,98.60,97.90,102.80,94.5,98.10,96.60,94.8,89.8,107.60,91.30,107.10,86.40,93.80
Afiliados SS,3280220.00,622324.00,366526.00,130920.00,221168.00,292783.00,523089.00,3168601.0,587821.00,780379.00,924603.0,735587.0,3485405.00,1942614.00,966373.00,403276.00,1021721.00

#### Procedo a guardarda los DataFrame
* Guardo datareducida como datos simplificados
* Guardo variacion_precio_m2_alquiler como variacion alquiler
* Guardo data datos completos

In [25]:
datareducida.to_csv("../data/datos simplificados.csv", sep = ';')
variacion_precio_m2_alquiler.to_csv("../datavariacion alquiler.csv", sep = ';')
data.to_csv("../data/datos completos.csv", sep = ';')

In [26]:
comunidades.to_csv("../data/comunidades salario, afiliadosSS y coste.csv", sep = ';')

In [1]:
import streamlit as st
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from plotly.offline import init_notebook_mode
import plotly.graph_objs as go
warnings.filterwarnings("ignore")
init_notebook_mode(connected=True)

In [ ]:
warninn